/* Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


/* Estilos generales */
body {
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-family: sans-serif;
    padding: 15px;
    background: rgb(255, 255, 255);
    }
    nav a {
    text-decoration: none;
    color: grey;
    }
    .list{
        display: flex;
        list-style: none;
        gap: 25px;
    }
    
    
    #toggler, label{
    display: none;
    }
    label i{
    color: white;
    }

.navbar-nav {
    margin-left: auto;
    margin-right: 25px;
}

.navbar-brand{
    margin-left: 15px;
}

/* Estilos de la sección de Inicio */

.container-start {
    position: relative;
    z-index: 3;
}
section#inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-top: 100px;
    padding-bottom: 200px;
    background-color: #f2f2f2;
    position: sticky;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.ph1 {
    font-size: 10rem;
    color: darkgoldenrod;
}

.pinicio {
    font-size: 5rem;
    margin-bottom: 2rem;
    color: aliceblue;
}

.btn-reserva {
    display: inline-block;
    background-color: darkgoldenrod;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
}




/* Estilos de la sección de Productos */
section#productos {
    padding: 4rem 0;
    background-color: #fff;
    
}

.title{
    padding-bottom: 24px;
    text-align: center;
}

.contenedor{
    display: flex;
    text-align: center;
    width: 97%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    text-align: center;
    padding: 3%;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
}

.card{
    width: 100%;
    margin: 0px;
    overflow: hidden;
    background-color: #fff;
    cursor: default;
    transition: all 700ms ease;
}

.card:hover{
    background-color: #FCC422;
    border-radius: 2%;
  
    transform: translateY(-3%);
}

.card img{
    height: 190px;
    border-radius: 10%;
}

.card .descripcion{
    padding: 15px;
    text-align: center;
}

.card .descripcion p{
    line-height: 1.5;
    color: #000000;


}
.card .descripcion h3{
    font-weight: 400;
    margin-bottom: 15px;
    color: purple;
    font-size: x-large;
    font-family: Arial, sans-serif;
    font-weight: bold;
    
}



.card .descripcion a:hover{
    background: #2fb4cc;
    color: #fff;
}



/* Estilos de la sección de galeria */
section#galeria {
    padding: 2rem 0;
    background-color: #f2f2f2;
}

#myCarousel {
    max-width: 100%;
    height: 670px; 
    overflow: hidden;
}

    /* Establecer el ancho del carrusel para las imágenes */
    #myCarousel .carousel-item img {
      width: 100%;
      min-height: 500px;
      max-height: 570px; 
      object-fit: cover; 
    }

   
    .carousel-control-prev,
    .carousel-control-next {
      top: 40%;
    }

    
    .carousel-indicators {
      bottom: 20px; 
    }

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Estilos de la sección Acerca de Nosotros */
section#acerca {
    padding: 8rem 0;
    background-color: #fff;
}

.p-AcercaNosotrosTitulo {
    font-size: 1.5rem;
    text-align: center;
    color: #bda633;
}

.p-AcercaNosotros1 {
    font-size: 2.7rem;
    font-weight: bold;
    text-align: center;
    margin-top: 5rem;
}

.p-AcercaNosotros1 span {
    color: #bda633;
}

.p-AcercaNosotros2 {
    text-align: center;
    margin-bottom: 5rem;
}

.img-ceo-container {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.img-ceo-container1 {
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

.img-ceo-container2 {
    display: flex;
    align-items: center;
}

.img-ceo {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
}

.info-ceo-container p {
    padding-left: 2.5rem;
}

.ceo-name {
    font-weight: bold;
}

/* Estilos de la sección de Contacto */
section#contacto {
    padding: 8rem 0;
    background-color: #f2f2f2;
}

form {
    margin-top: 1rem;
}

.formu,
input,
textarea {
    display: block;
    margin-bottom: 1rem;
}

button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos del Pie de Página */
.pie-pagina{
    width: 100%;
    background-color: #0a141d;

}

.pie-pagina .grupo-1{

    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
}

.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}

.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;

}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

/* Responsive para tabletas */

@media (min-width: 820px) and (max-width: 1180px) {
   
    .img-ceo-container {
        flex-direction: column; 
    }

    .img-ceo-container1{
        padding-left: 0.8rem;
    }

    .img-ceo-container1,
    .img-ceo-container2 {
        margin-right: 0; 
        margin-bottom: 1.5rem; 
    }

    .img-ceo {
        width: 100%;
        margin: 0 auto; 
    }

    .info-ceo-container {
        text-align: center; 
    }
}

/* Responsive  */

@media (max-width: 768px) {
    
    /* Responsive seccion de inicio */

    section#inicio {
        padding-bottom: 50px; 
    }

    h1 {
        font-size: 1.8rem; 
    }

    .ph1 {
        font-size: 6rem; 
    }

    .pinicio {
        font-size: 3.5rem; 
    }

    .btn-reserva {
        font-size: 1.2rem; 
    }


    /* Responsive seccion productos */

    #productos {
        padding: 2rem 0; 
    }

    .contenedor {
        display: flex;
        flex-direction: column;
    }

    .card {
        margin-bottom: 2rem;
    }

    .descripcion h3 {
        font-size: 1.5rem; 
    }

    .descripcion p {
        font-size: 1rem; 
    }

    .btn-reserva {
        font-size: 1rem; 
    }

    /* Responsive seccion carrusel */

    #myCarousel img {
        max-width: 100%;
        height: auto;
    }

    /* Additional styling for modal image on mobile */
    #imagenAmpliada {
        max-width: 100%;
        height: auto;
    }


    /* Responsive seccion fundadores */

    .img-ceo-container {
        flex-direction: column; 
    }

    .img-ceo-container p {
        padding-right: 1.5rem;
    }

    .img-ceo-container1{
        padding-left: 3rem;
    }

    .img-ceo-container1,
    .img-ceo-container2 {
        margin-bottom: 1.5rem; 
        flex-direction: column; 
        align-items: center;
    }

    .img-ceo {
        width: 100%; 
        max-width: 250px; 
        margin: 0 auto; 
        height: 100%;
        align-content: center;
        margin-bottom: 1rem;
    }

    .info-ceo-container {
        text-align: center; 
    }

}